<template>
  <div class="q-pa-md">
    <h3>Flat buffer test</h3>
    <q-btn label="Connect" @click="onConnectClick" />
    <q-btn label="Send PING" @click="onSendPingClick" />
    <q-btn label="Clear logs" @click="onClearLogsClick" />
    <q-input type="textarea" v-model="logString" outlined class="q-mt-lg" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'IndexPage',
  components: {},
  setup() {
    let ws: WebSocket;
    let logs = [] as string[];
    const logString = ref('');
    function onConnectClick() {
      console.log('connecting...');
      ws = new WebSocket('ws://localhost:9876');
      ws.addEventListener('open', onWSConnected);
      ws.addEventListener('close', onWSDisconnected);
      ws.addEventListener('message', onWSMessageReceived);
    }

    function onWSConnected() {
      log('Connected');
    }
    function onWSMessageReceived(event) {
      log('Received: ' + event.data);
    }
    function onWSDisconnected(event) {
      log('Disconnected');
    }

    function onSendPingClick() {
      log('Sending: PING');
      try {
        ws.send(JSON.stringify({ messageType: 'PING' }));
      } catch (e) {
        log(e.message);
      }
    }
    function onClearLogsClick() {
      logs = [] as string[];
      logString.value = '';
    }

    function log(msg: string) {
      console.log(msg);
      logs.push(msg);
      logString.value = '';
      for (const log of logs) {
        logString.value += log + '\r\n';
      }
    }
    return {
      onConnectClick,
      onSendPingClick,
      onClearLogsClick,
      logString,
    };
  },
});
</script>
